.custom-page {
    background-color: #f2f2f2; /* Fondo gris */
  }
  
  .custom-card {
    border: 2px solid black; /* Borde negro */
  }
  
  .custom-accordion {
    border-bottom: 1px solid black; /* Borde inferior negro para cada acordeón */
  }
  
  .custom-menu {
    background-color: #f2f2f2; /* Fondo gris */
  }
  